<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <div>
        <p>Lista de productos</p>
    </div>
    <div>
        <ul id="lista-producto">
            {{#each products}}
            <li>{{title}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <button onClick="agregarProducto()">Agregar Producto</button>
    </div>
</div>
    
</body>
</html>